{%extends 'base.html'%}
{%block 'main'%}
    <main>
        <h1>Algus</h1>
        <div class="container">
            <h2>Sistema de controle de estoque</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aperiam expedita veniam asperiores facere obcaecati soluta numquam, atque quae labore debitis,
                aut culpa alias non aliquam reiciendis dicta eos amet? Minus!</p>
            
            <div class="algus"></div>
                <h2>O que é Algus ?</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, voluptas? Vero maxime odio,
                    fuga incidunt aut alias laborum a dignissimos sapiente molestiae dolore facere vitae quas officiis doloribus expedita animi?</p>

        </div>
    </main>
{%endblock%}