{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="principal">
        <div class="cadastro">
            <div class="header">
                <h2>Trocar a senha</h2>
            </div>
            
            <form id="form" class="form" method="POST">{%csrf_token%}
                <div class="form-control ">
                    <label for="username">Senha</label>
                    <input type="text" name="pass" id="username" placeholder="Digite sua senha atual...">
                </div>

                <div class="form-control" >
                    <label for="email">Nova senha</label>
                    <input type="password" name="pass" id="email" placeholder="Digite sua nova senha...">
                    
                </div>

                <button type="submit">Entrar</button>
                
            </form>
        </div>

    </div>

</body>
</html>