{%load static%}
<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algus</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li>
                    <a>LOGO</a>
                    
                    <a href="{%url 'produto'%}">Produtos</a>
                    <a href="{%url 'criar'%}">Adicionar Produtos</a>
                    <a href="{%url 'rell'%}">Relatório</a>

                    <div class="details">
                        <a>{{user.username}}</a>
                            <div class="containt">
                                <a href="{%url 'logout'%}">Logout</a>
                                <a href="{%url 'redefinir'%}">Trocar sua senha</a>
                            </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
{%block 'out'%}
{%endblock%}
</body>
</html>