{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li>
                    <i>LOGO</i>
                    
                    <a href="{%url 'login'%}">Login</a>
                </li>
            </ul>
        </div>
    </header>

    {%if messages%}
    {%for mensagem in messages%}
    <script>
        alert('{{mensagem}}')
    </script>
    {%endfor%}
    {%endif%}
    
{%block 'main'%}
{%endblock%}
</body>
</html>